---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html, body {
  height: 100%;
}

body {
  background-color: #F5F5F5;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -175px;
  padding: 0 0 175px;
}

.panel {
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
  .panel-heading {
    background-color: #fff;
    color: rgba(51,51,51,1);
    .panel-title {
      font-size: 28px;
    }
  }
}

main {
  
}

.footer {
  width: 100%;
}

.page-list {
  padding: 0;
  font-size: 0.5em;
  margin-top: 2em;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 10px;
    &.active {
      background-color: #333;
      font-weight: normal;
      a {
        color: #ccc;
      }
    }
    a {
      color: #333333;
    }
    .logo {
      display: table-cell;
      vertical-align: middle;
      font-size: 2em;
      padding-right: 0.5em;
    }
    .data {
      display: table-cell;
      vertical-align: middle;
      font-size: 2em;
    }
  }
}

li.active {
  font-weight: bold;
}
