---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

html, body {
  height: 100%;
}

body {
  background-color: #F5F5F5;
}

.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -175px;
  padding: 0 0 175px;
}

main {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
}

.page-list {
  list-style: none;
  width: 100%;
  li {
    display: table;
    padding: 1em;
    width: 100%;
    a {
      color: #333333;
      &:hover {
        color: #62878C;
      }
    }
    .logo {
      display: table-cell;
      vertical-align: middle;
      font-size: 2em;
    }
    .data {
      padding-left: 1em;
      display: table-cell;
      vertical-align: middle;
      font-size: 2em;
    }
  }
}

.footer {
  width: 100%;
}

.sidebar {
  .page-list {
    font-size: 0.5em;
    margin-top: 2em;
  }
}
