<footer class="footer">
  <div class="footer-container bg-pastel-muted-blue">
    <div class="container">
      <div class="col-md-2 text-center">
        <img src="{{ site.baseurl }}/assets/kb_logo_white.svg" class="logo-medium" />
      </div>
      <div class="col-md-10 text-white">
        <p>
          <strong><a href="http://www.kb.se" alt="Länk till Kungl. Bibliotekets webbplats">KUNGL. BIBLIOTEKET</a></strong><br>
          <!-- <span>Support: <a href="mailto:test.test@kb.se">test.test@kb.se</a></span> -->
        </p>
      </div>
    </div>
  </div>
</footer>
