<footer class="footer">
  <div class="footer-container bg-pastel-light-blue">
    <div class="container">
      <div class="col-md-2 text-center">
        <img src="./assets/kb_logo_black.svg" class="logo-medium" />
      </div>
      <div class="col-md-10 text-black">
        <p>
          <strong><a href="http://www.kb.se" alt="Länk till Kungl. Bibliotekets webbplats">KUNGL. BIBLIOTEKET</a></strong><br>
          <span>Support: <a href="mailto:test.test@kb.se">test.test@kb.se</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>
