<ul class="page-list">
  {% if page.title == 'index' %}
  <li class="active">
  {% else %}
  <li>
  {% endif %}
    <a class="page-link" href="/service-manual/">
    <div class="logo">
      <i class="fa fa-fw fa-home"></i>
    </div>
    <div class="data">
      Introduktion
    </div>
    </a>
  </li>
  {% for section in site.pages %}
    {% if section.layout == 'guide' %}
    {% if section.title == page.title %}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
      <a class="page-link" href="{{ section.url | prepend: site.baseurl }}">
      <div class="logo">
        <i class="fa fa-fw fa-{{ section.icon }}"></i>
      </div>
      <div class="data">
        {{ section.title }}
      </div>
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
